<div class="post-partial">
  <li id="post-<%= post.id %>">
    <%= post.name %>
    "wahaha    <% post.images.each do |image| %>
      <%= image_tag(image, width:100) %>
    <% end %>
    <%= link_to '削除', post, method: :delete, data: { confirm: '削除してよろしいですか?' } %>
  </li>
</div>